// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");

// Define fonts for body and headers
$body-font: "Lato", "Helvetica", "sans-serif";
$headers-font: "Lato", "Helvetica", "sans-serif";

// font-family: 'News Cycle', sans-serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Lato', sans-serif;
