// Form design
html {
  scroll-behavior: smooth;
}






.input {
  margin-left: 50px;
  display: flex;
}


.form-post {
  margin-top: 50px;
  padding: 20px;
  color: white;
  font-size: 35px;
  width: 100%;


  h2 {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color: white;
    margin-bottom: 50px;
    margin-top: 0px;
  }
  .btn {
    width: 100%;
    padding: 10px;
    font-weight: bold;
  }
}

// design des input form
body.pages.home{}
.form-group {
  display: flex;
  margin-top: 5px;
  margin-bottom: 10px;
}

.form-check {
  display: inline-flex;
  justify-content: strech;
  flex-wrap: wrap;
  margin: 5px 0;
  flex: 1;
  padding: 5px;
}

abbr {
  display: none;
}

.col-form-label{
  margin: 0;
  padding-bottom: 10px;
  color: black;
}


.surveystep {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 48px;
  margin-top: 40vh;
  margin-bottom: 10vh;
  border-radius: 5px;
  .btn{
    width:40%;
  }
}

.survey-step-odd {
  flex-direction: row-reverse;
}


.image {
  flex: 1 1 0;

  img {
    width: 100%;
    height: auto;
  }
}

.question {
  flex: 1 1 0;
}


.irs--round.irs-with-grid {
    height: 65px;
    width: 100%;
    margin-top: 70px;
    margin-bottom: 40px;
}

