// Form design
.form-post {
  background: white;
  margin-top: 50px;
  padding: 20px;
  border-radius: 5px;
  h1 {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: #666666;
    margin-bottom: 50px;
    margin-top: 0px;
  }
  .btn {
    width: 100%;
    padding: 10px;
    font-weight: bold;
  }
}

// design des input form
.form-group {
  display: flex;
  margin-top: 5px;
  margin-bottom: 10px;
}

.form-check {
  display: inline-flex;
  justify-content: strech;
  flex-wrap: wrap;
  margin: 5px 0;
  flex: 1;
  padding: 5px;

  input {
    display: none;

  }

  label {
    border: 1px solid steelblue;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    text-align: center;
  }

  input:checked + label {
    background: steelblue;
    color: white;
  }
}

abbr {
  display: none;
}

.col-form-label{
  margin: 0;

}


