// Form design
html {
  scroll-behavior: smooth;
}


.form-post {
  margin-top: 50px;
  padding: 20px;
  color: white;
  font-size: 35px;
  width: 100%;


  h2 {
    text-align: center;
    font-weight: bold;
    font-size: 45px;
    color: white;
    margin-bottom: 50px;
    margin-top: 0px;
  }
  .btn {
    width: 100%;
    padding: 10px;
    font-weight: bold;
  }
}

// design des input form
.form-group {
  display: flex;
  margin-top: 5px;
  margin-bottom: 10px;
}

.form-check {
  display: inline-flex;
  justify-content: strech;
  flex-wrap: wrap;
  margin: 5px 0;
  flex: 1;
  padding: 5px;

  input {
    display: none;
  }

  label {
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    text-align: center;
  }

  input:checked + label {
    background: white;
    color: white;
  }
}

abbr {
  display: none;
}

.col-form-label{
  margin: 0;
  padding-bottom: 10px;
}


.surveystepp {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.surveystepi {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


