body.passwords.new {
 background-color: steelblue;

  .biggercontainer {
    display: flex;
    justify-content: center;
    max-height: -webkit-fill-available;
  }
  .password_container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 20px;
    width: 800px;
    margin: 50px;
    height: 100%;
    border-radius: 5px;
  }

   .form {
    text-align: center;
    width: 400px;
    padding: 15px;
  .form-control {
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
  }

    h2 {
      margin: 25px;
    }

  // label{
  //   margin-right: 10px;
  //   justify-content: center;
  //   text-align:center;
  // }
  }

  .image-form > img {
  flex: 1 1 0;
  margin: 20px 35px;
  width: 75%;
  height: auto;

  }
}
