body.pages.home {
  margin: 0;
  padding:0;

  ::-webkit-scrollbar {
    display: none;
  }

  .form-post {
    height: 1000px;
    display: flex;
    width: 7000px;
    margin-top:5%;
  }

  .wrapper{
    overflow: scroll;
    scroll-behavior: smooth;
  }

  .surveystep {
    width: 1200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 48px;

    padding-left:60px;


    border-radius: 5px;

    .previous.round{
      padding:40px;
      width:60px;
      height:60px;
      font-size:160px;
      text-decoration:none;
      opacity:0.8;
      color:#0BD4A2;
    }
    .next.round{
      padding:40px;
      width:60px;
      height:60px;
      font-size:160px;
      text-decoration:none;
      opacity:0.8;
      color:#0BD4A2;
    }
  }

  input[type="radio"] {
    display: none;
  }

  label {
    border: 1px solid steelblue;
    color: steelblue;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    text-align: center;
    font-size: 30px;
    background-color: white;
  }

  input:checked + label {
    background: steelblue;
    color: white;
  }

  .banner{
    margin-top:0;
    padding-top:10%;
    justify-content:center;
    text-align:center;
  }
  .containerx{
    text-align:center;
    justify-content:center;
    h1{
      font-size: 120px;
    }
    h2{font-size: 50px;
    }

  }
  .sign{
    padding-top:5%;
  }
  .sign_button{
    text-decoration: none;
    padding: 20px 30px;
    border-radius:36px;
    background-color: white;
  }
  .scrolling{
    padding-top:10%;
    p{font-size:32px;
    }
    a{
      color:white;
      font-size:32px;
      text-decoration:none;
  }
  }
//   @media(max-width: 1500px) {
//     .surveystep{
//       width: 700px;
//       height: 50%;
//       font-size:
//     }
//   .containerx{
//     text-align:center;
//     justify-content:center;
//     h1{
//       font-size: 100px;
//     }
//     h2{font-size: 40px;
//     }

//   }
//   .sign{
//     padding-top:5%;
//   }
//   .sign_button{
//     text-decoration: none;
//     padding: 20px 30px;
//     border-radius:36px;
//     background-color: white;
//   }
//   .scrolling{
//     padding-top:10%;
//     p{
//       font-size:24px;
//     }
//     a{
//       color:white;
//       font-size:24px;
//       text-decoration:none;
//     }
//   }


// @media(max-width: 750px) {

// .containerx{
//     text-align:center;
//     justify-content:center;
//     h1{
//       font-size: 70px;
//     }
//     h2{font-size: 35px;
//     }

//   }
//   .sign{
//     padding-top:6%;
//   }
//   .sign_button{
//     text-decoration: none;
//     padding: 20px 30px;
//     border-radius:36px;
//     background-color: white;
//   }
//   .scrolling{
//     padding-top:10%;
//     p{
//       font-size:24px;
//     }
//     a{
//       color:white;
//       font-size:24px;
//       text-decoration:none;
//     }
//   }
// }

// }


.downArrow{
  position: fixed;
  bottom: 10%;
  left: 49%;
}

.bounce {
  -moz-animation: bounce 3s infinite;
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}


  .surveystep {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: center;

  }
}


