body.pages.home {
   margin: 0;
   padding:0;

  input[type="radio"] {
    display: none;
  }

  label {
    border: 1px solid steelblue;
    color: steelblue;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    text-align: center;
    font-size: 30px;
  }

  input:checked + label {
    background: steelblue;
    color: white;
  }

  .banner{
    margin-top:0;
    padding-top:10%;
    justify-content:center;
    text-align:center;
  }
  .containerx{
    text-align:center;
    justify-content:center;
    h1{
      font-size: 120px;
    }
    h2{font-size: 50px;
    }

  }
  .sign{
    padding-top:5%;
  }
  .sign_button{
    text-decoration: none;
    padding: 20px 30px;
    border-radius:36px;
    background-color: white;
  }
  .scrolling{
    padding-top:10%;
    p{font-size:32px;
    }
    a{
      color:white;
      font-size:32px;
      text-decoration:none;
  }
  }
  @media(max-width: 1500px) {
  .containerx{
    text-align:center;
    justify-content:center;
    h1{
      font-size: 100px;
    }
    h2{font-size: 40px;
    }

  }
  .sign{
    padding-top:5%;
  }
  .sign_button{
    text-decoration: none;
    padding: 20px 30px;
    border-radius:36px;
    background-color: white;
  }
  .scrolling{
    padding-top:10%;
    p{font-size:24px;
    }
    a{
      color:white;
      font-size:24px;
      text-decoration:none;
  }
  }
}

@media(max-width: 750px) {
.containerx{
    text-align:center;
    justify-content:center;
    h1{
      font-size: 70px;
    }
    h2{font-size: 35px;
    }

  }
  .sign{
    padding-top:6%;
  }
  .sign_button{
    text-decoration: none;
    padding: 20px 30px;
    border-radius:36px;
    background-color: white;
  }
  .scrolling{
    padding-top:10%;
    p{font-size:24px;
    }
    a{
      color:white;
      font-size:24px;
      text-decoration:none;
  }
  }
}






  .form-post {
    scroll-snap-type: y mandatory;
    max-height: 100vh;
    overflow-y: scroll;
  }

  .surveystep {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: center;
  }
}
