body.registrations.new {
 background-color: steelblue;

  .bigcontainer {
    display: flex;
    justify-content: center;
    max-height: -webkit-fill-available;
  }

  .othercontainer {

  background-color: white;
  padding: 20px 0;
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  height: 100%;
  border-radius: 5px;
  }

.form {
  text-align: center;
  width: 400px;


  h2 {
    margin: 30px;
  }
}

.image-form {
  flex: 1 1 0;

  img {
    width: 100%;
    height: auto;
  }
}

  .form-control {
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
  }

  .nav-link:hover {
  color:white;

}
}
