<div class="container mt-5">
<h2>Your Favourites</h2>
<%@favourites.each do|f|%>

  <%= image_tag f.car.photo ,class: "photos mt-5"%>
  <%=f.car.model%>
  Starting From <%=f.car.price%><br>
  <%end%>
</div>
