
  <div class="container">
    <h2>Your Favourites</h2>
      <% @favourites.each do|f|%>
          <div class="car_description align-items-center">
            <div class="fav_photo"><%= image_tag f.car.photo ,class: "photos"%></div>
            <div class="detail pl-3">
              <h3><%=f.car.model%></h3>
              <div class="links">
                <%=link_to "> Click here if you want to see the details and Share!",favourite_path(f)%>
                <%= link_to '> Delete this favourite',favourite_path(f), :method => :delete, :onclick => "return confirm('Are you sure you want to delete this post?')" %>
              </div>
            </div>
          </div>
    <hr>
      <%end%>
  </div>

