//components rotation 
@-webkit-keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotating-reverse {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

// triangle css
.triangle {
  height: 0;
  width: 0;
  position: fixed;
  z-index: -1;
}

.triangle1 { 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  animation: rotating 55s linear infinite;
  border-bottom: 20px solid rgb(120, 186, 144);
  opacity: 0.3;
  left: 130px;
  top: 290px;
}

.triangle2 { 
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  animation: rotating 35s linear infinite;
  border-bottom: 40px solid rgb(20, 186, 144);
  opacity: 0.5;
  left: 860px;
  bottom: 460px;
}

.triangle3 {
	height: 20px;
  width: 20px;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  animation: rotating-reverse 35s linear infinite;
  border-bottom: 40px solid rgb(98, 185, 197);
  opacity: 0.4;
  right: 856px;
  top: 80px;

}

.triangle4 {
	height: 10px;
  width: 30px;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  animation: rotating-reverse 55s linear infinite;
  border-bottom: 40px solid rgb(105, 202, 165);
  opacity: 0.2;
  right: 780px;
  bottom: 50px;
}

.triangle5 { 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  animation: rotating 35s linear infinite;
  border-bottom: 20px solid rgb(120, 186, 144);
  opacity: 0.4;
  left: 690px;
  top: 390px;
}

.triangle6 { 
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  animation: rotating 35s linear infinite;
  border-bottom: 40px solid rgb(20, 186, 144);
  opacity: 0.4;
  left: 1060px;
  top: 860px;
}

.triangle7 {
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  animation: rotating-reverse 40s linear infinite;
  border-bottom: 40px solid #9cf196;
  opacity: 0.2;
  right: 1056px;
  bottom: 280px;
}

.triangle8 {
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  animation: rotating-reverse 55s linear infinite;
  border-bottom: 40px solid rgb(105, 202, 165);
  opacity: 0.3;
  right: 80px;
  top: 150px;
}

.triangle9 { 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  animation: rotating 55s linear infinite;
  border-bottom: 20px solid rgb(120, 186, 144);
  opacity: 0.3;
  left: 630px;
  top: 40px;
}

.triangle10 { 
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  animation: rotating 40s linear infinite;
  border-bottom: 40px solid rgb(20, 186, 144);
  opacity: 0.3;
  right: 1060px;
  top: 760px;
}

.triangle11 {
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  animation: rotating-reverse 40s linear infinite;
  border-bottom: 40px solid #64c4ed;
  opacity: 0.2;
  left: 1356px;
  top: 280px;

}

.triangle12 {
  height: 10px;
  width: 30px;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  animation: rotating 40s linear infinite;
  border-bottom: 40px solid rgb(105, 202, 165);
  opacity: 0.2;
  right: 380px;
  top: 50px;
}


.triangle13 {
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  animation: rotating-reverse 40s linear infinite;
  border-bottom: 40px solid #4f81c7;
  opacity: 0.3;
  right: 556px;
  top: 580px;

}

.triangle14 {
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  animation: rotating 40s linear infinite;
  border-bottom: 40px solid rgb(105, 202, 165);
  opacity: 0.2;
  right: 880px;
  top: 250px;
}

.triangle15 {
  height: 10px;
  width: 30px;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  animation: rotating-reverse 55s linear infinite;
  border-bottom: 40px solid rgb(105, 202, 165);
  opacity: 0.2;
  left: 50px;
  top: 650px;
}


//squares css
.square {
  opacity: 0.5;
  position: fixed;
  z-index: -1;
}

.square1 {
	height: 20px;
  width: 20px;
  background-color: #4f81c7;
  opacity: 0.4;
  right: 500px;
  top: 390px;
  animation: rotating 45s linear infinite;
}

.square2 {
	height: 30px;
  width: 30px;
  background-color: rgb(120, 186, 144);
  animation: rotating 40s linear infinite;
  opacity: 0.3;
  left: 1264px;
  bottom: 40px;
}

.square3 {
	height: 50px;
  width: 50px;
  background-color: rgb(105, 202, 165);
  animation: rotating-reverse 45s linear infinite;
  opacity: 0.2;
  left: 34px;
  top: 439px;
}

.square4 {
	height: 40px;
  width: 40px;
  background-color: #64c4ed;
  animation: rotating 30s linear infinite;
  opacity: 0.3;
  right: 1123px;
  bottom: 780px;
}

.square5 {
  height: 10px;
  width: 10px;
  background-color: rgb(105, 202, 165);
  animation: rotating 45s linear infinite;
  opacity: 0.4;
  right: 234px;
  bottom: 589px;
}

.square6 {
  height: 50px;
  width: 50px;
  background-color: #4f81c7;
  animation: rotating-reverse 30s linear infinite;
  opacity: 0.2;
  left: 1123px;
  top: 580px;
}

.square7 {
  height: 30px;
  width: 30px;
  background-color: #35b0ab;
   animation: rotating-reverse 45s linear infinite;
   opacity: 0.2;
  right: 1234px;
  bottom: 689px;
}

.square8 {
  height: 20px;
  width: 20px;
  background-color: rgb(81, 150, 152);
  animation: rotating 45s linear infinite;
  opacity: 0.3;
  left: 123px;
  top: 680px;
}

.square9 {
  height: 10px;
  width: 10px;
  background-color: #b6e6bd;
  animation: rotating-reverse 45s linear infinite;
  opacity: 0.3;
  right: 234px;
  bottom: 589px;
}

.square10 {
  height: 20px;
  width: 20px;
  background-color: #4baea0;
  animation: rotating 30s linear infinite;
  right: 1123px;
  bottom: 550px;
}

.square11 {
  height: 30px;
  width: 30px;
  background-color: #51dacf;
  animation: rotating-reverse 45s linear infinite;
  opacity: 0.2;
  right: 1234px;
  bottom: 689px;
}

.square12 {
  height: 20px;
  width: 20px;
  background-color: #6bc5d2;
  animation: rotating 30s linear infinite;
  opacity: 0.2;
  right: 76px;
  top: 700px;
}

.square13 {
  height: 30px;
  width: 30px;
  background-color: #51dacf;
  animation: rotating-reverse 45s linear infinite;
  opacity: 0.4;
  right: 984px;
  bottom: 189px;
}

.square14 {
  height: 20px;
  width: 20px;
  background-color: #6bc5d2;
  animation: rotating 40s linear infinite;
  opacity: 0.3;
  right: 173px;
  top: 380px;
} 

.square15 {
  height: 10px;
  width: 10px;
  background-color: #b6e6bd;
  animation: rotating 45s linear infinite;
  opacity: 0.4;
  right: 534px;
  bottom: 689px;
}

