.btn-primary {
background-color: #0BD4A2;
color: black;
opacity: 0.85;
transition: all 0.5s;
margin-top: 30px;
border: solid transparent;
padding: 5px;

  &:hover {
  background-color: #0BD4A2;
  color: black;
  opacity: 1;
  border: solid transparent;
  }
}


