.container_cards {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width:60%;
}

.sidebar {
  width: 5px;
  height: 5px;
  margin:0;
  right:0;
  align-items:left;
}

.all_cards {
  flex-grow:1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  .card_car {
    display: flex;
    border-radius: 5px;
    background-color: $our-color;
    margin: 30px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    padding: 5px;

    .photo{
      display: flex;
      align-items: center;
      margin-left: 15px;

      img {
        border-radius: 5px 5px 0 0;
        width:200px;
        height: 140px;
      }
    }

    .cards_infos {
      padding-left: 25px;
      flex-grow: 1;

      h3 {
        display:flex;
        align-items: flex-end;
      }
    }

    .options {
      display: flex;
      align-items: flex-end;
      position: relative;
      width: 160px;
      justify-content: flex-end;

      .check_container{
        position: absolute;
        top: 0;
        right: -9px;
      }
    }
  }
}

.modal-body {
background-color: transparent;

}

