.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  height: 100px;
  position: absolute;
  width:100%;
  margin-bottom: 20px;
  top: 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
  margin-top: -20px;
  margin-bottom: -20px;
}
.navbar-light .navbar-nav .nav-link{
  color: grey;
}

body.pages.home {
  .navbar-light .navbar-nav .nav-link{
  color: white;
  margin-right: 12px;
  }
}
